*{
    border: 3p;
    border-color: aqua;
   
}
.p{
    
}
.hh{
    background-color: greenyellow;
    justify-items: center;

}
.button{
    cursor:crosshair;
    color: red;
    position: relative; 
    cursor: hor;
    animation: ease;

}
table, th, td {
    border: 1px solid blue; 
    padding: 8px; 
}
img{
    border: 1px red solid;
}

table :nth-child(2) td:nth-child(2){
    background-color: red;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: yellow;
    }
  }